data/
.venv/
runs/
test_set.pt
train_set.pt
val_set.pt
train_set_smol.pt
final_selected_features_500.joblib
final_selected_features_1000.joblib
final_selected_features.joblib
fs_scaler_500.joblib
fs_scaler_1000.joblib
fs_scaler_model.joblib
ML_dataset_500_features.parquet
ML_dataset_1000_features.parquet
test_set_GPT.pt
train_set_smol_GPT.pt
val_set_GPT.pt
__pycache__/dataset.cpython-310.pyc
__pycache__/EEGPT_mcae_finetune.cpython-310.pyc
__pycache__/model.cpython-310.pyc
checkpoint/eegpt_mcae_58chs_4s_large4E.ckpt
trained_models_in_memory/DecisionTree.joblib
trained_models_in_memory/GaussianNB.joblib
trained_models_in_memory/GradientBoosting.joblib
trained_models_in_memory/KNeighbors.joblib
trained_models_in_memory/LogisticRegression.joblib
trained_models_in_memory/MLPClassifier.joblib
trained_models_in_memory/RandomForest.joblib
trained_models_in_memory/scaler_in_memory.joblib
trained_models_in_memory/SGDClassifier_Hinge.joblib
trained_models_in_memory/SGDClassifier_Log.joblib
trained_models_in_memory/SVC_Linear.joblib
trained_models_in_memory/SVC_RBF.joblib
